In [1]:
import sqlite3

In [2]:
connection = sqlite3.connect('books.db')

In [3]:
import pandas as pd

In [4]:
pd.options.display.max_columns = 10

In [5]:
pd.read_sql('SELECT * FROM authors', connection, index_col=['id']) # cannot address error

DatabaseError: Execution failed on sql 'SELECT * FROM authors': no such table: authors